.say {
    padding-bottom: 140px;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;

        @include a (tablet) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__title {
        font-family: 'Gelasio', serif;
        font-size: toRem(32);
        font-weight: 500;
        padding-left: 82px;
        position: relative;

        @include a (mobile) {
            padding-left: 0;
        }

        &::before {
            content: "";
            position: absolute;
            width: 68px;
            height: 2px;
            background-color: rgba($color: $accent-color, $alpha: 0.5);
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.03);
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            @include a (mobile) {
                display: none;
            }
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__btn {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &-left {
            background-color: rgba($color: #F4F4F4, $alpha: 0.5);
        }

        &-right {
            background-color: $light-color;
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.03);
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @include a (tablet-xl) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        max-width: 555px;
        width: 100%;
        background-color: $light-color;
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.03);
        border-radius: 10px;
        padding: 85px 82px 63px;

        @include a (mobile) {
            padding: 40px;
        }

        &-descr {
            font-size: toRem(18);
            line-height: 150%;
            color: rgba($color: $main-color, $alpha: 0.8);
            margin-bottom: 44px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                background: url(/src/assets/images/say-quotes.png);
                width: 12px;
                height: 20px;
                top: -25px;
            }

            &::after {
                content: "";
                position: absolute;
                background: url(/src/assets/images/say-quotes.png);
                width: 12px;
                height: 20px;
                top: -25px;
                left: 13px;
            }
        }

        &-wrap {
            padding-left: 130px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;

            &-1::before {
                content: "";
                position: absolute;
                background: url(/src/assets/images/say-item-1.png);
                width: 100px;
                height: 100px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            &-2::before {
                content: "";
                position: absolute;
                background: url(/src/assets/images/say-item-2.png);
                width: 100px;
                height: 100px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}