.community {
    padding: 100px 0;

    @include a (tablet) {
        padding: 75px 0;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @include a (tablet-xl) {
            flex-direction: column;
        }
    }

    &__content {
        max-width: 423px;
        width: 100%;

        @include a (tablet-xl) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__span {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: rgba($color: $accent-color, $alpha: 0.7);
        display: block;
        margin-bottom: 15px;

        @include a (tablet-xl) {
            font-size: 14px;
        }
    }

    &__title {
        font-family: 'Gelasio', serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 140%;
        max-width: 292px;
        width: 100%;
        margin-bottom: 25px;

        @include a (tablet) {
            font-size: 24px;
        }
    }

    &__descr {
        font-size: 18px;
        line-height: 150%;
        color: rgba($color: $main-color, $alpha: 0.7);
        margin-bottom: 40px;

        @include a (tablet) {
            font-size: 14px;
        }
    }

    &__btn {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: $light-color;
        width: 171px;
        height: 57px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: $accent-color;

        &:hover {
            color: $main-color;
            background-color: transparent;
            transition: .7s all ease-in-out;
        }

        @include a (tablet) {
            font-size: 14px;
            width: 150px;
            height: 45px;
        }
    }

    &__video {
        position: relative;
        &-play {
            width: 90px;
            height: 90px;
            background: rgba(255, 255, 255, 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:hover {
                .community__video-svg {
                    stroke: $accent-color;
                }
            }
        }

        &-svg {
            stroke: #fff;
        }
    }
}