.hero {
    padding-top: 35px;

    @include a (mobile) {
        padding-bottom: 50px;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @include a (tablet-xl) {
            flex-direction: column;
            align-items: center;
            border-bottom: none;
        }
    }

    &__content {
        @include a (tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }
    }

    &__span {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: rgba($color: $accent-color, $alpha: 0.7);
        display: block;
        margin-bottom: 15px;

        @include a (tablet-xl) {
            text-align: center;
            font-size: 14px;
        }
    }

    &__title {
        font-family: 'Gelasio', serif;
        font-size: 57px;
        font-weight: 600;
        line-height: 120%;
        color: $main-color;
        max-width: 760px;
        width: 100%;
        margin-bottom: 40px;

        @include a (laptop) {
            max-width: 650px;
            font-size: 50px;
        }

        @include a (tablet-xl) {
            text-align: center;
            font-size: 40px;
        }

        @include a (tablet) {
            max-width: 500px;
            text-align: center;
            font-size: 30px;
        }

        &-span {
            color: $accent-color;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 70px;

        @include a (tablet-xl) {
            justify-content: center;
        }

        @include a (mobile) {
            flex-direction: column;
            gap: 40px;
        }
    }

    &__btn {

        &-left {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.02em;
            color: $light-color;
            width: 166px;
            line-height: 57px;
            text-align: center;
            border-radius: 5px;
            background-color: $accent-color;

            &:hover {
                color: $main-color;
                background-color: transparent;
                transition: .7s all ease-in-out;
            }
        }

        &-right {
            font-size: 18px;
            letter-spacing: 0.02em;
            color: rgba($color: $main-color, $alpha: 0.7);
            white-space: nowrap;
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;

            &:hover {
                color: $accent-color;
                transition: .7s all ease-in-out;
            }

            &:hover {
                .hero__btn-play {
                    stroke: $main-color;
                }
            }
        }

        &-play {
            stroke: $accent-color;
        }
    }

    &__image {
        position: relative;


        &-1 {
            position: absolute;
            bottom: 20%;
            left: 5%;
            width: 100px;
            height: 100px;
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.02);
            background-color: $light-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            @include a (tablet) {
                width: 75px;
                height: 75px;
            }

            @include a (mobile) {
                width: 50px;
                height: 50px;
            }
        }

        &-2 {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 100px;
            height: 100px;
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.02);
            background-color: $light-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            @include a (tablet) {
                width: 75px;
                height: 75px;
            }

            @include a (mobile) {
                width: 50px;
                height: 50px;
            }
        }

        &-3 {
            position: absolute;
            right: 10%;
            top: 25%;
            width: 100px;
            height: 100px;
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.02);
            background-color: $light-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            @include a (tablet) {
                width: 75px;
                height: 75px;
            }

            @include a (mobile) {
                width: 50px;
                height: 50px;
            }
        }
    }

    &__img-sml {
        @include a (mobile) {
            width: 20px;
            height: 20px;
        }
    }
}